<div class="container pt-5">
    <h1>Accueil</h1>

    <%# ALERT %>
    <% flash.each do |type, msg| %>
        <div class="alert alert-success my-3" role="alert">
            <%= msg %>
        </div>
    <% end %>

    <%# AJOUTER UN POTIN %>
    <div class="my-5">
        <%= link_to "Ajouter un potin", new_gossip_path, class: "btn btn-primary" %>
    </div>

    <%# LISTE DES POTINS %>
    <p class="mt-3">Liste des potins</p>
    <ul class="row d-flex justify-content-start">
        <% @gossips.all.each do |g| %>
            <li class="col-12 col-md-4 col-lg-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= g.title %>
                        </h5>
                        <div class="card-text">
                            <%= g.user.first_name %>
                        </div>
                        <%# Commentaires %>
                        <div class="card-text text-muted">
                            <%= @comments.where(comment_type_id: g.id).count %> commentaires
                        </div>
                        <%# LIKES %>
                        <div class="card-text d-flex justify-content-between align-items-sm-center flex-wrap mt-3">
                            <% if logged_in? %>
                                <%= button_to 'Likes', 
                                        likes_path, 
                                        params: {:id => g.id, :type => "Gossip"}, 
                                        :method=>:post, 
                                        :class => "btn btn-outline-primary btn-sm" %>
                            <% else %>
                                <span class="text-muted">Likes</span>
                            <% end %>
                            <span class="badge badge-pill badge-primary">
                                <%= g.likes.size %>
                            </span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div>
                            <%= link_to g.title, gossip_path(g.id), class: "btn btn-success btn-sm" %>
                        </div>
                    </div>
                </div>
            </li>
        <% end %>
    </ul>
</div>